:root {
  --border-radius: 12px;
  --logo-color: #41197F;
  --bg-primary: white;
  --bg-secondary: #FCDC36;
  --text-dark: #41197F;
  --selected-filter: #41197F;
  --border-grey: #B1B1B1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}